
<head>
<style type="text/css">
.auto-style1 {
	direction: rtl;
}
.auto-style2 {
	text-align: center;
}
td
	{border-style: none;
	border-color: inherit;
	border-width: medium;
	padding: 0px;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	}
.auto-style4 {
	color: black;
	font-size: 17.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: "B Titr";
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left-style: none;
	border-left-color: inherit;
	border-left-width: medium;
	border-right: 1.5pt solid windowtext;
	border-top: 1.5pt solid windowtext;
	border-bottom: 1.5pt solid windowtext;
	padding: 0px;
}
.auto-style5 {
	color: black;
	font-size: 14.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: "B Titr";
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border-left: .5pt solid windowtext;
	border-right: 1.5pt solid windowtext;
	border-top: 1.5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding: 0px;
}
.auto-style6 {
	color: black;
	font-size: 14.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: "B Titr";
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: 1.5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding: 0px;
}
.auto-style7 {
	color: black;
	font-size: 14.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: "B Titr";
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border-left: 1.5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: 1.5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding: 0px;
}
.auto-style8 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border-left: .5pt solid windowtext;
	border-right: 1.5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding: 0px;
}
.auto-style9 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: .5pt solid windowtext;
	padding: 0px;
}
.auto-style10 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	padding: 0px;
}
.auto-style11 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border-left: .5pt solid windowtext;
	border-right: 1.5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: 1.5pt solid windowtext;
	padding: 0px;
}
.auto-style12 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: 1.5pt solid windowtext;
	padding: 0px;
}
.auto-style13 {
	color: black;
	font-size: 18.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: "B Roya";
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border-left: 1.5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-top: .5pt solid windowtext;
	border-bottom: 1.5pt solid windowtext;
	padding: 0px;
}
</style>
</head>

@{
    ViewBag.Title = "Home Page";
}
@section    head
{
    <title>سامانه ثبت نام کارتامین</title>
}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h2 class="auto-style2" style="font-family:'B Titr';color:red">


                (  آزمون استخدامی شرکت کار و تامین وابسته به سازمان تامین اجتماعی )
            </h2>
            <h3  class="auto-style2" style="font-family:'B Titr';color:red">


                تامین نیروی انسانی خدمات عمومی ( مدیریت درمان  تامین اجتماعی  استان اصفهان  )
            </h3>
            <div class="auto-style1">
            <br />

            <strong> الف) شرایط عمومی استخدام:</strong>
            <br />
            1-	تابعیت جمهوری اسلامی ایران
            <br />
            2-	دارا بودن حداقل 20 و حداکثر 30 سال سن
            <br />
            تبصره: کسانی که سابقه پرداخت حق بیمه تأمین اجتماعی دارند، به میزان سال‏های پرداخت بیمه حداکثر سن تا 37 سال قابل قبول می‏باشد.
            <br />
            3-	نداشتن سابقه محکومیت جزایی 
            <br />
            4-	دارا بودن برگ پایان خدمت زیر پرچم و یا معافیت دائم (ویژه آقایان) و معافیت خدمت سربازی به استثناء معافیت پزشکی قابل قبول می‎باشد. 
            <br />
            5-	دارا بودن مدرک تحصیلی دیپلم با معدل حداقل 12
            <br />
                      
            <strong> ب) مدارک مورد نیاز جهت ثبت نام:</strong>
            <br />
            1- مراجعه به سایت شرکت کار و تامین www.kartamin.ir  و تکمیل فرم ثبت نام و الصاق یک قطعه عکس 4×3 جدید (آپلود عکس الزامی است)
            <br />
            2- واریز مبلغ: 350/000 ریال به حساب بانک رفاه شرکت کار و تامین از طریق درگاه الکترونیکی سایت
            <br />
            <strong> ج) توضیحات:</strong>
            <br />
            1-	استخدام صرفاً به صورت قرارداد شرکتی (به عنوان خدمتگزار) و بدون تعهد رابطه استخدامی می‎باشد.
            <br />
            2-	وجه واریزی بابت ثبت نام تحت هیچ شرایطی عودت داده نخواهد شد.
            <br />
            3-	در هر مرحله از آزمون یا پس از بکارگیری چنانچه خلاف اطلاعات اعلام شده محرز گردد، داوطلب از انجام مراحل بعدی محروم خواهد شد.
            <br />
            4-	مجموع نیروهای مورد نیاز به تعداد 22 نفر طبق جدول پیوست می‏باشند که به میزان 3 برابر ظرفیت پس از انجام مراحل آزمون کتبی و مصاحبه پذیرش خواهند شد.
            <br />
            5-	ثبت نام از داوطلبان صرفاً از بین متقاضیان استان اصفهان و شهرستان‎های تابعه صورت می‎پذیرد.
            <br />
            6-	افراد پذیرش شده از طریق کاریابی شرکت کار و تامین به مدیریت درمان تأمین اجتماعی استان اصفهان معرفی خواهد گردید.
            <br />
            <strong> د) منابع آزمون:</strong>
            <br />
            1-	قوانین و مقررات کارو تأمین اجتماعی
            <br />
            2-	ایمنی، بهداشت و کنترل عفونت ویژه نیروهای خدماتی
            <br />
            3-	آشنایی اجمالی با سازمان تأمین اجتماعی
            <br />
            فایل منابع فوق جهت مطالعه و آمادگی آزمون از سایت شرکت کار و تأمین به آدرس www.kartamin.ir قابل دریافت است
            <br />
            <strong> ه) زمان و محل برگزاری آزمون:</strong>
            <br />
            1- زمان برگزاری آزمون: روز جمعه مورخ 97/05/05 از ساعت 10:30 لغایت 12 بعد از ظهر
            <br />
            2- محل برگزاری آزمون: (دانشگاه علمی و کاربردی بهزیستی تأمین اجتماعی استان اصفهان) به نشانی: اصفهان، خیابان جی، ایستگاه دانشسرا، دانشگاه علمی کاربردی بهزیستی تأمین اجتماعی استان اصفهان (نقشه محل آزمون در سایت قابل مشاهده است)
            <br />
            <strong> و) زمان و محل برگزاری آزمون:</strong>
            <br />
            1- متقاضیان محترم به منظور دریافت کارت ورود به جلسه آزمون می‏توانند با درج کد ملی خود در بازه زمانی چهار‎شنبه 97/04/27 لغایت روز سه‏شنبه 97/05/02 به سایت شرکت www.kartamin.ir مراجعه و از کارت شرکت در آزمون پرینت تهیه نمایند.
            <br />
            2- متقاضیانی که به هر دلیل موفق به دریافت کارت شرکت در جلسه  نشده باشند، می‏توانند در روز پنجشنبه تاریخ 
				97/05/04 از ساعت 9:30 لغایت 12:30 به آدرس: اصفهان، خیابان جی، ایستگاه دانشسرا، دانشگاه علمی کاربردی بهزیستی تأمین اجتماعی استان اصفهان مراجعه و به صورت حضوری کارت خود را دریافت دارند.
            <br />
             <h3  class="auto-style2" style="font-family:'B Titr';color:blue">


                 بدیهی است مدیریت درمان تأمین اجتماعی در قبال آزمون و برگزاری آزمون هیچگونه تعهدی نخواهد داشت
            </h3>

            	<br>
				<table border="0" cellpadding="0" cellspacing="0" dir="RTL" style="border-collapse: collapse; width: 865pt" width="1154">
					<colgroup>
						<col style="mso-width-source: userset; mso-width-alt: 2144; width: 50pt" width="67">
						<col style="mso-width-source: userset; mso-width-alt: 14176; width: 332pt" width="443">
						<col style="mso-width-source: userset; mso-width-alt: 6912; width: 162pt" width="216">
						<col style="mso-width-source: userset; mso-width-alt: 3296; width: 77pt" width="103">
						<col style="mso-width-source: userset; mso-width-alt: 3840; width: 90pt" width="120">
						<col style="mso-width-source: userset; mso-width-alt: 6560; width: 154pt" width="205">
					</colgroup>
					<tr height="75" style="mso-height-source: userset; height: 56.25pt">
						<td class="auto-style4" colspan="6" dir="RTL" height="75" style="height: 56.25pt">
						جدول تفکیک نیروی خدمتگزارمورد نیاز مراکز تابعه</td>
					</tr>
					<tr height="37" style="mso-height-source: userset; height: 27.75pt">
						<td class="auto-style5" dir="RTL" height="112" style="height: 84.0pt; width: 50pt" width="67">
						ردیف</td>
						<td class="auto-style6" dir="RTL" style="width: 332pt" width="443">
						عنوان شغلی</td>
						<td class="auto-style6" dir="RTL" style="width: 162pt" width="216">
						شهرستان</td>
						<td class="auto-style6" dir="RTL" style="width: 77pt" width="103">
						زن</td>
						<td class="auto-style6" dir="RTL" style="width: 90pt" width="120">
						مرد</td>
						<td class="auto-style7" dir="RTL" style="width: 154pt" width="205">
						جمع</td>
					</tr>
					<tr height="54" style="mso-height-source: userset; height: 40.5pt">
						<td class="auto-style8" dir="RTL" height="54" style="height: 40.5pt; width: 50pt" width="67">
						1</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">اصفهان</td>
						<td class="auto-style9" dir="RTL">5</td>
						<td class="auto-style9" dir="RTL">8</td>
						<td class="auto-style10" dir="RTL">13</td>
					</tr>
					<tr height="46" style="mso-height-source: userset; height: 34.5pt">
						<td class="auto-style8" dir="RTL" height="46" style="height: 34.5pt; width: 50pt" width="67">
						2</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">مبارکه</td>
						<td class="auto-style9" dir="RTL">0</td>
						<td class="auto-style9" dir="RTL">1</td>
						<td class="auto-style10" dir="RTL">1</td>
					</tr>
					<tr height="45" style="mso-height-source: userset; height: 33.75pt">
						<td class="auto-style8" dir="RTL" height="45" style="height: 33.75pt; width: 50pt" width="67">
						3</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">میمه</td>
						<td class="auto-style9" dir="RTL">0</td>
						<td class="auto-style9" dir="RTL">1</td>
						<td class="auto-style10" dir="RTL">1</td>
					</tr>
					<tr height="52" style="mso-height-source: userset; height: 39.0pt">
						<td class="auto-style8" dir="RTL" height="52" style="height: 39.0pt; width: 50pt" width="67">
						4</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">خوانسار</td>
						<td class="auto-style9" dir="RTL">0</td>
						<td class="auto-style9" dir="RTL">2</td>
						<td class="auto-style10" dir="RTL">2</td>
					</tr>
					<tr height="52" style="mso-height-source: userset; height: 39.0pt">
						<td class="auto-style8" dir="RTL" height="52" style="height: 39.0pt; width: 50pt" width="67">
						5</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">تیران و کرون</td>
						<td class="auto-style9" dir="RTL">0</td>
						<td class="auto-style9" dir="RTL">4</td>
						<td class="auto-style10" dir="RTL">4</td>
					</tr>
					<tr height="52" style="mso-height-source: userset; height: 39.0pt">
						<td class="auto-style8" dir="RTL" height="52" style="height: 39.0pt; width: 50pt" width="67">
						6</td>
						<td class="auto-style9" dir="RTL">متصدی خدمات عمومی 
						(خدمتگزار)</td>
						<td class="auto-style9" dir="RTL">شهرضا</td>
						<td class="auto-style9" dir="RTL">0</td>
						<td class="auto-style9" dir="RTL">1</td>
						<td class="auto-style10" dir="RTL">1</td>
					</tr>
					<tr height="52" style="mso-height-source: userset; height: 39.0pt">
						<td class="auto-style11" colspan="3" dir="RTL" height="52" style="height: 39.0pt; width: 544pt" width="726">
						جمع کل</td>
						<td class="auto-style12" dir="RTL">5</td>
						<td class="auto-style12" dir="RTL">17</td>
						<td class="auto-style13" dir="RTL">22</td>
					</tr>
				</table>

            <br />
            
        	</div>
        </div>
    </div>
    <p style="font-size:20px;" class="auto-style1">
        ثبت نام به منزله موافقت با کلیه شرایط فوق می باشید.
    </p>
    <div class="col-sm-12">
        @*@using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <input type="submit" value="قبول شرایط و شروع ثبت مام"class="btn btn-success" />
        }*@
        <a href="/Register" class="btn btn-success" >شروع ثبت نام</a>
        <a href="/FollowUp" class="btn btn-warning">مشاهده کارت ورود به جلسه</a>
    </div>
</div>
