@{
    ViewBag.Title = "Home Page";
}
@section    head
{
    <title>سامانه ثبت نام کارتامین</title>
}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h2 class="text-center" style="font-family:'B Titr'">


                (  آزمون استخدامی شرکت کار و تامین وابسته به سازمان تامین اجتماعی )
            </h2>
            <h3  class="text-center" style="font-family:'B Titr'">


                تامین نیروی انسانی خدمات عمومی ( مدیریت درمان  تامین اجتماعی  استان اصفهان  )
            </h3>
            <br />
            <p>
                شرکت کار و تامین وابسته به سازمان تامین اجتماعی در نظر دارد به منظور تامین نیروی انسانی مورد نیاز خدمات عمومی
                ( خدمتگزار )  مدیریت درمان تامین اجتماعی  استان اصفهان  و شهرستان های وابسته به صورت قرارداد شرکتی نیرو جذب نماید .  از علاقمندان واجد شرایط مرد  و زن  ( با حداقل 20 و حد اکثر 30  سال سن  ) ( توجه : کسانی که سابقه پرداخت بیمه دارند ، به میزان سال های پرداخت بیمه حداکثر سن تا 37 سال قابل قبول است و ( دارای کارت پایان خدمت و یا انواع معافیت دائم )  تقاضا می شود از ساعت 12 ظهر روز  دو شنبه  25 / 04 / 1397 لغایت ساعت 24:00 روز  یکشنبه  31 / 04 / 1397 جهت ثبت نام به سایت www.kartamin.ir   مراجعه نمایند.

            </p>
            <br />

            <strong>  اقدامات مورد نیاز قبل از ثبت نام اینترنتی آزمون :</strong>
            <br />
            الف -  مراجعه به سایت شرکت کار و تامین به آدرس  :  www.kartamin.ir
            <br />

            ب -  لطفا قبل از ثبت نام اسکن  عکس پرسنلی را آماده نمایید .<br />

            ج  – واریز مبلغ  : 000/350 ریال  به شماره حساب همراه 81200330  بانک رفاه به نام شرکت کار و تامین از طریق درگاه الکترونیکی سایت
            د  – پذیرش ضوابط و موارد مندرج در  آگهی استخدامی و ثبت نام در سایت ثبت نام در سایت www.kartamin.ir   ( آپلود عکس الزامی است )
            توضیحات  :
            <br />

            1  - استخدام صرفا بصورت قرارداد شرکتی (به عنوان خدمتگزار) وبدون تعهد رابطه استخدامی می باشد .<br />

            2  - وجه واریزی بابت ثبت نام تحت هیچ عنوان عودت داده نخواهد شد .<br />

            3 – در هر مرحله از آزمون یا پس از بکارگیری چنانچه خلاف اطلاعات اعلام شده محرز گردد ، داوطلب از انجام مراحل بعدی محروم خواهد شد .<br />

 4 -  مجموع نیروهای مورد نیاز به تعداد 24 نفر آقا و خانم بوده  که به میزان سه برابر ظرفیت ( 72  نفر ) از طریق آزمون کتبی پذیرش شده و تعداد نفرات نهایی از طریق مصاحبه استخدامی پذیرش نهایی خواهند شد .
            5 -  ثبت نام از داوطلبان صرفا از بین متقاضیان استان اصفهان و شهرستان های وابسته  صورت می پذیرد .<br />

            <br />
6 -  افراد پذیرش شده از طریق کاریابی شرکت کار و تأمین به مدیریت درمان  تامین اجتماعی  استان اصفهان معرفی خواهند گردید .
            <br />
 7 -  سوالات آزمون از مجموعه های  ذیل خواهد بود  :  ( قوانین و مقررات کار و تامین اجتماعی)  ، ( ایمنی ، بهداشت و کنترل عفونت ویژه نیروهای خدماتی )  ،  ( آشنایی اجمالی با سازمان تامین اجتماعی )
            <br />
    8 -  زمان برگزاری آزمون  :  جمعه   05/ 05/ 1397  از ساعت 10:30 لغایت 00 : 12 ،  محل :   دانشگاه علمی و کاربردی بهزیستی تامین اجتماعی  اصفهان
            <br />
    آدرس : اصفهان-خ جی-ایستگاه دانشسرا - دانشگاه علمی و کاربردی بهزیستی تامین اجتماعی  اصفهان ( نقشه محل آزمون در سایت قابل مشاهده است )  .
            <br />
     9 -   کتابچه های فوق جهت مطالعه و آمادگی آزمون از سایت شرکت کار و تامین به آدرس  www.kartamin.ir   قابل دریافت است .
            <br />
      10 - متقاضیان محترم بمنظور دریافت کارت ورود به جلسه آزمون می توانند با درج کد ملی خود در بازه زمانی دو شنبه  25 / 04 / 1397 لغایت ساعت 24:00 روز  سه شنبه  02 / 05 / 1397 به سایت شرکت به آدرس  www.kartamin.ir   مراجعه و از کارت شرکت در آزمون پرینت تهیه نمایند .
            <br />
      11 - متقاضیانی که به هر دلیل موفق به دریافت کارت شرکت در جلسه نشده باشند می توانند در روز پنجشنبه تاریخ 04 / 05 / 1397 از 9:30 لغایت 30 : 12  به آدرس اصفهان-خ جی-ایستگاه دانشسرا - دانشگاه علمی و کاربردی بهزیستی تامین اجتماعی  اصفهان مراجعه و بصورت حضوری کارت خود را دریافت دارند .
        </div>
    </div>
    <p style="font-size:20px;" class="text-danger">
        ثبت نام به منزله موافقت با کلیه شرایط فوق می باشید.
    </p>
    <div class="col-sm-12">
        @*@using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            <input type="submit" value="شروع ثبت مام"class="btn btn-success" />
        }*@
        <a href="/Register" class="btn btn-success" >شروع ثبت نام</a>
        <a href="/FollowUp" class="btn btn-warning">مشاهده کارت ورود به جلسه</a>
    </div>
</div>
