
<head>
    <style type="text/css">
        .auto-style1 {
            direction: rtl;
        }

        .auto-style2 {
            text-align: center;
        }

        td {
            border-style: none;
            border-color: inherit;
            border-width: medium;
            padding: 0px;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Arial, sans-serif;
            text-align: general;
            vertical-align: bottom;
            white-space: nowrap;
        }

        .auto-style4 {
            color: black;
            font-size: 17.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "B Titr";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border-left-style: none;
            border-left-color: inherit;
            border-left-width: medium;
            border-right: 1.5pt solid windowtext;
            border-top: 1.5pt solid windowtext;
            border-bottom: 1.5pt solid windowtext;
            padding: 0px;
        }

        .auto-style5 {
            color: black;
            font-size: 14.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "B Titr";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border-left: .5pt solid windowtext;
            border-right: 1.5pt solid windowtext;
            border-top: 1.5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style6 {
            color: black;
            font-size: 14.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "B Titr";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border-left: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: 1.5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style7 {
            color: black;
            font-size: 14.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: "B Titr";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border-left: 1.5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: 1.5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style8 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border-left: .5pt solid windowtext;
            border-right: 1.5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style9 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style10 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border-left: 1.5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom: .5pt solid windowtext;
            padding: 0px;
        }

        .auto-style11 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: normal;
            border-left: .5pt solid windowtext;
            border-right: 1.5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom: 1.5pt solid windowtext;
            padding: 0px;
        }

        .auto-style12 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border-left: .5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom: 1.5pt solid windowtext;
            padding: 0px;
        }

        .auto-style13 {
            color: black;
            font-size: 18.0pt;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            font-family: "B Roya";
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border-left: 1.5pt solid windowtext;
            border-right: .5pt solid windowtext;
            border-top: .5pt solid windowtext;
            border-bottom: 1.5pt solid windowtext;
            padding: 0px;
        }
    </style>
</head>

@{
    ViewBag.Title = "Home Page";
}
@section    head
{
<title>سامانه ثبت نام کارگاه مرکز آموزش مهارتی و حرفه ای مدیریت خطر حوادث و بلایا</title>
}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info">
            <h2 class="auto-style2" style="font-family:'B Titr';color:red">


                مرکز آموزش مهارتی و حرفه ای مدیریت خطر حوادث و بلایا
            </h2>
            <h3 class="auto-style2" style="font-family:'B Titr';color:red;direction:ltr">


                Bio-Centric Health Management in Iran:
                Relaxation, Imagery, Music and Movement for Adult and
                Children to reduce Stress
            </h3>
            <div>
                <p>
                    شرایط ثبت نام
                </p>
                <img src="/Content/0001.jpg" class="img-responsive"/>
            </div>
        </div>
    </div>
    <p style="font-size:20px;" class="auto-style1">
        ثبت نام به منزله موافقت با کلیه شرایط فوق می باشید.
    </p>
    <div class="col-sm-12">
        @*@using (Html.BeginForm("Index", "Register", FormMethod.Post))
            {
                <input type="submit" value="قبول شرایط و شروع ثبت مام"class="btn btn-success" />
            }*@
        <a href="/Register" class="btn btn-success">شروع ثبت نام</a>
        <a href="/FollowUp" class="btn btn-warning">پیگیری ثبت نام (پرداخت مجدد)</a>

    </div>
</div>
