<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>خطا</title>
</head>
<body>
    <hgroup>
        <h1>خطا</h1>
        <h2>در سیستم خطای پیش بینی رخ داده است، لطفا با پشتیبانی تماس بگیرید.</h2>
    </hgroup>
</body>
</html>
